.footer {
    margin-top: 172px;
    margin-bottom: 80px;
    overflow-x: hidden;
    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__contacts-left {
        display: flex;
        flex-direction: column;
    }
    &__descr {
        max-width: 558px;
        font-weight: 400;
        font-size: 30px;
        color: #64646a;  
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__contacts-right {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-top: 25px;
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 40px;
        color: #1b1b1d; 
    }
    &__email {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &__phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 24px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 24px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &__forms {
        margin-top: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__link {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 222px;
        cursor: pointer;
        &-text {
            margin-right: 4px;
           a {
            margin-top: 30px;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            color: #1b1b1d;
            }
        }  
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        border-radius: 65px;
        height: 70px;
        border: none;
        box-shadow: 0 12px 30px 0 rgba(205, 209, 214, 0.28);
        background: #fff;
        font-weight: 400;
        font-size: 22px;
        padding-left: 30px;
        color: #64646a;
        opacity: 0.7; 
    }
    &__btn {
        border-radius: 126px;
        padding: 20px 40px;
        width: 173px;
        margin-top: 50px;
        height: 70px;
        border: none;
        background: #1b1b1d;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
    &__line {
        margin-top: 70px;
        margin-bottom: 40px;
        border: 1px solid #1b1b1d;
        height: 0px;
        opacity: 0.1;   
    }
    &__privacy-policy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__copytright {
        margin-top: 40px;
        font-weight: 400;
        font-size: 22px;
        color: #64646a;
        span {
            font-weight: 500;
            color: #1b1b1d;
        }
    }
}